.headerInner{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ####あああああああ### */

footer{
  background: #eeeeee;
}
.footerInner{
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}
.headerInner,.mainInner{
  max-width: 650px;
  margin: auto;
  padding: 0 20px;
}
.keyVisual{
  text-align: center;
}
.priceWrapper table,
.priceWrapper th,
.priceWrapper td{
  border-collapse: collapse;
  border: 1px solid black;
}
.priceWrapper th,
.priceWrapper td{
  padding: 7px;
}
.priceWrapper table{
  width: 100%;
}
.priceWrapper th{
  width: 150px;
  background: #eee;
}
h2{
  background-image: url(a.png);
  line-height: 50px;
  padding: 0 15px;
  color: #fff;
  text-align: center;
}

.contactButtom{
  width: 150px;
  height: 30px;
  display: inline-block;
  background: #9b4dca;
  color: #000;
  border: #000;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}


.contactButtom{
  text-align: center;
}
.contactButtom{
  background: skyblue;
  color: #fff;
  width:150px;
  height:50px;
  display:inline-block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  font-size: 24px;
  transition: 700ms;
}
.contactButtom{
  
}