body {
    margin: 0;
    background: linear-gradient( 135deg, rgba(207, 222, 231, 0.87), rgba(121, 167, 209, 0.8)), url(soraru.jpg);
    background-size: cover;
}

.logo {
    font-size: 0;
}

.headerInner {
    max-width: 650px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keyVisual {
    text-align: center;
}

.keyPhoto {
    border-radius: 30px;
    width: 90%;
}

.mainInner {
    max-width: 650px;
    margin: auto;
    padding-bottom: 200px;
}

.UpperBox,
.box {
    border: 3px solid #1e90ff;
    text-align: center;
    padding: 20px 20px;
    box-shadow: 3px 3px 3px #000;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
    font-weight: bolder;
}

.UpperBox {
    border-radius: 50%;
}

.keyVisual {
    text-align: center;
}

.priceWrapper table,
.priceWrapper th,
.priceWrapper td {
    border-collapse: collapse;
    border: 1px solid black;
}

.priceWrapper th,
.priceWrapper td {
    padding: 7px;
}

.priceWrapper table {
    width: 100%;
}

.priceWrapper th {
    width: 150px;
    background: rgb(171, 190, 226);
}

h2 {
    background-image: url("niconico_bg_blue.png");
    border-radius: 30px;
    line-height: 50px;
    padding: 0 15px;
    color: #fff;
    text-align: center;
}

.bigWrapper {
    display: flex;
}

.wrapperPhoto1,
.wrapperPhoto2,
.wrapperPhoto3 {
    background-image: url("hatena.png");
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
}

.wrapperPhoto1,
.wrapperPhoto2,
.wrapperPhoto3:hover {
    background-repeat: no-repeat;
    border-radius: 10%;
}

.wrapperPhoto1:hover {
    background-image: url("sea2.jpeg");
}

.wrapperPhoto2:hover {
    background-image: url("anago2.jpg");
}

.wrapperPhoto3:hover {
    background-image: url("show2.jpg");
}

.clearfix {
    width: 70%;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
    ;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.indexBox {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.box {
    border-radius: 30px;
}

footer {
    background: rgb(148, 179, 206);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerInner {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.last {
    position: absolute;
    right: 0;
    bottom: 0;
}